---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---


<Layout title="Menu">
  <section class="menu-page">
    <h1>Our Menu</h1>
    <p class="hint">Tap or pinch to zoom</p>

    <div class="menu-image">
      <img
        src="/squigis-pizza/images/menu-front.jpg"
        alt="Pizza Menu"
        loading="eager"
      />
    </div>

    <div class="menu-image">
      <img
        src="/squigis-pizza/images/menu-page-1.jpg"
        alt="Pizza Menu"
        loading="eager"
      />
    </div>

        <div class="menu-image">
      <img
        src="/squigis-pizza/images/menu-page-2.jpg"
        alt="Pizza Menu"
        loading="eager"
      />
    </div>
    <!-- Optional PDF link -->
    <!--
    <p class="download">
      <a href="/menu.pdf" target="_blank">Download PDF</a>
    </p>
    -->
  </section>
</Layout>
