---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import.meta.env.BASE_URL

const { title = "Squigi's Pizza of Griffith" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta
  name="description"
  content="Squigi’s Pizza of Griffith – classic local pizza, sandwiches, and Italian favorites. Dine in or carry out in Griffith, Indiana."
/>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="icon" href="./favicon.ico" type="image/x-icon">
	<!-- <link rel="icon" type="image/ico" href="./favicon.ico" /> -->
	<!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>
  </head>

  <body class="min-h-screen flex flex-col bg-neutral-50 text-neutral-900 font-sans">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>